		<!-- BEGIN LOGIN SECTION -->
        <section class="section-account" xmlns="http://www.w3.org/1999/html">
        	<div class="img-backdrop" back-img="static/img/img16.jpg" ></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
                        [[ activation_status ]]
					</div><!--end .card -->
                    <div ng-if="activation_status == 'successfully activated'">
                        <a href="/login">please login here </a>
                    </div>
                </div>
            </div>
		</section>
				<!-- END LOGIN SECTION -->
