		<!-- BEGIN LOGIN SECTION -->

        <section class="section-account" xmlns="http://www.w3.org/1999/html">
        	<div class="img-backdrop" back-img="static/img/img16.jpg" ></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<br/>
                            <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
							<br/><br/>


							<form class="form floating-label" accept-charset="utf-8" method="post" name="myForm">

                                <div class="form-group">
									<input type="email" class="form-control"  name="email" id="email"
                                           ng-model="formData.email" required="">
									<label for="email">Email</label>
                                          <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                          <span ng-show="myForm.email.$error.required">Email is required.</span>
                                          <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                          </span>
								</div>


								<div class="row">

									<div class="col-xs-6 text-right">
										<button class="btn btn-primary btn-raised" ng-disabled="!myForm.$valid"
                                                type="submit" ng-click="send_forgot_link()" >Submit</button>
									</div><!--end .col -->
								</div><!--end .row -->
							</form>
                             <div ng-if="login_status == true">
                                successfully logged in
                            </div>
                            <div ng-if="login_status == false">
                                [[ login_error ]]
                            </div>
						</div><!--end .col -->

					</div><!--end .card -->
				</section>
				<!-- END LOGIN SECTION -->
