		<!-- BEGIN LOGIN SECTION -->

        <section class="section-account" xmlns="http://www.w3.org/1999/html">
        	<div class="img-backdrop" back-img="static/img/img16.jpg" ></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<br/>
                            <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
							<br/><br/>


							<form class="form floating-label" accept-charset="utf-8" method="post" name="myForm">

                                <div class="form-group">
									<input type="email" class="form-control"  name="email" id="email"
                                           ng-model="formData.email" required="">
									<label for="email">Email</label>
                                          <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                          <span ng-show="myForm.email.$error.required">Email is required.</span>
                                          <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                          </span>
								</div>

								<div class="form-group">
									<input class="form-control" type="password" id="password" name="password"
                                           ng-model="formData.password"
                                           ng-minlength="5" ng-maxlength="20" required >
									<label for="password">Password</label>
								</div>

                                <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
                                   <span ng-show="!myForm.password.$error.required &&
                                   (myForm.password.$error.minlength ||myForm.password.$error.maxlength)
                                   && myForm.password.$dirty">
                                       Passwords must be between 5 and 20 characters.
                                   </span>

								<br/>
								<div class="row">
									<div class="col-xs-6 text-left">
										<div class="checkbox checkbox-inline checkbox-styled">
											<label>
												<input type="checkbox"> <span>Remember me</span>
											</label>
										</div>
									</div><!--end .col -->
                                    <div class="col-xs-6 text-left" >
										<div class="checkbox checkbox-inline checkbox-styled">
											<label>
												<a href="#/forgot_password">forgot password</a>
											</label>
										</div>
									</div><!--end .col -->
									<div class="col-xs-6 text-right">
										<button class="btn btn-primary btn-raised" type="submit" ng-click="doLogin()">
                                            Login
                                        </button>
									</div><!--end .col -->
								</div><!--end .row -->
							</form>
                             <div ng-if="login_status == true">
                                successfully logged in
                            </div>
                            <div ng-if="login_status == false">
                                [[ login_error ]]
                            </div>
						</div><!--end .col -->
						<div class="col-sm-5 col-sm-offset-1 text-center">
							<br><br>
								<h3 class="text-light">
									No account yet?
								</h3>
								<a class="btn btn-block btn-raised btn-primary" href="#/register">Sign up here</a>
								<br><br>
									<h3 class="text-light">
										or
									</h3>
									<p>
										<a href="#" class="btn btn-block btn-raised btn-info" ng-click="login()"><i class="fa fa-twitter pull-left"></i>Login with Facebook</a>
									</p>
								</div><!--end .col -->
							</div><!--end .row -->
						</div><!--end .card-body -->
					</div><!--end .card -->
				</section>
				<!-- END LOGIN SECTION -->
