		<!-- BEGIN LOGIN SECTION -->

        <section class="section-account">
        	<div class="img-backdrop" back-img="static/img/img16.jpg" ></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<br/>
							<span class="text-lg text-bold text-primary">REGISTER HERE</span>
							<br/><br/>
							<form class="form floating-label" action="../../html/dashboards/dashboard.html"
                                  accept-charset="utf-8" method="post">
								<div class="form-group">
									<input type="text" class="form-control" id="username" name="username">
									<label for="username">Username</label>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="password" name="password">
									<label for="password">Password</label>

								</div>
                                <div class="form-group">
                                    <input list="hosting-plan" type="text" value="select" class="form-control" >
                                        <datalist id="hosting-plan">
                                           <option value="small">one</option>
                                           <option value="medium">two</option>
                                           <option value="large">three</option>
                                        </datalist>
                                </div>

								<br/>
								<div class="row">
									<div class="col-xs-6 text-right">
										<button class="btn btn-primary btn-raised" type="submit">register</button>
									</div><!--end .col -->
								</div><!--end .row -->
							</form>
						</div><!--end .col -->
					</div><!--end .card -->
				</section>
				<!-- END LOGIN SECTION -->
